:root{
    --white-color: #fff;
}

*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* responsite */
.grid{
    width: 1145px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}